/* styles/progress.css */
.progress-container {
  position: relative;
  width: 100%;
}

.progress-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 100%;
  transform: translateY(0);
}
